{% extends 'layout.html' %}

{% block content %}


<div style="padding: 50px">
    <h1 style="text-align: center">ABOUT US</h1>
<!--        <img src="../static/img/teamicon2.jpeg" width="100" height="400"alt="" class="team-topleft">-->
<h5 style="font-style: italic">About Reja's Hospital:</h5>
Reja's Hospital was founded in 2021 for the purpose of managing the outpatient department at the Hospital,
    and to extend medical services to corporate clientele through an innovative concept of Managed Healthcare.
 <br/> <br/>

    <h5 style="font-style: italic">Our Purpose:</h5>
 <br/>
Our purpose is to maintain and enable health care in Kenya.
<br/>
 <br/>
<h5 style="font-style: italic">Our Mission:</h5>
 <br/>
To provide high quality medical care that exceeds the needs of our clients.
<br/> <br/>
<h5 style="font-style: italic">Our Culture and Core Values:</h5>
 <br/>
    <ul>
        <li>Respect - For all human beings regardless of financial status, race, tribe, national origin, religious or political beliefs</li>
<li>Service - Providing the best service to our patients, their families, doctors, clients, business partners and staff</li>
<li>Excellence - Continually striving to improve and achieve excellence in the provision of our services.</li>
        </ul>
</div>



{% endblock %}