{% extends 'layout.html' %}

{% block content %}
<h1>Our Healthcare Consultants:</h1>
    <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Best Healthcare Consulting Firms & Consultants</th>
      <th scope="col">Ratings</th>
<!--      <th scope="col">Handle</th>-->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>WHO Advisors</td>
      <td>5</td>
<!--      <td>@mdo</td>-->
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Nairobi Healthcare Associates</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Kenya Radiology Department</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Kenya Healthcare Federation</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>KMPDC</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">6</th>
      <td>IMS group</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">7</th>
      <td>Rx Advisors</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">8</th>
      <td>Apollo healthcare partners</td>
      <td>5</td>
<!--      <td>@fat</td>-->
    </tr>
     <tr>
      <th scope="row">9</th>
      <td>Britam Insurance</td>
      <td>4</td>
<!--      <td>@fat</td>-->
    </tr> <tr>
      <th scope="row">10</th>
      <td>Sakna Medics</td>
      <td>4</td>
<!--      <td>@fat</td>-->
    </tr>
<!--    <tr>-->
<!--      <th scope="row">11</th>-->
<!--      <td colspan="2">Larry the Bird</td>-->
<!--&lt;!&ndash;      <td>@twitter</td>&ndash;&gt;-->
<!--    </tr>-->
  </tbody>
</table>

{% endblock %}