{% extends 'layout.html' %}

{% block content %}


<body>
<h1>Our Inventory:</h1>
<!--<a href="ms-excel:ofe|u|Stock-Inventory-Management-Template.xlsx">Open in Excel</a>-->
<!-- <a href="file:///templates/Stock-Inventory-Management-Template.xlsx">Click</a>-->
<!--<a href="ms-excel:ofe|u|file:///templates/Stock-Inventory-Management-Template.xlsx">Open in Excel</a>-->
<!--<a href="hms/templates/simt.pdf">Open here</a-->
<!-- <img src="../static/img/simt.pdf" width="100" height="150"alt="" class="team-center">-->
<a href="http://127.0.0.1:5000//hms/templates/simt.pdf">open</a>


<!--<a href="../templates/simt.pdf">ME</a>-->
<a href="./simt.pdf" target="blank">PdfFile</a>

</body>
{% endblock %}