{% extends 'layout.html' %}

{% block content %}

<div style="padding: 50px">
    <div>
<!--    <img src="../static/img/teamicon2.jpeg" width="60" height="300"alt="" class="team-center">-->
    <h1 style="text-align: center" >THE MANAGEMENT TEAM: </h1>
        </div>



    <div class="container">
      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-4">
          <div class="card" style="text-align: center">
              <img src="../static/img/femaleicon2.jpeg" width="100" height="150"alt="" class="team-center">
              <h4>DR. KENDI JADEN</h4>
              <h5>CHIEF EXECUTIVE OFFICER
                  <br>
                  (C.E.O)</h5>
          </div>
        </div>
          <div class="col-md-4" >
          <div class="card" style="text-align: center">
              <img src="../static/img/male1.jpeg" width="100" height="150"alt="" class="team-center">
              <h4>DR. FRED NICK</h4>
              <h5>CHIEF MEDICAL OFFICER
              TEAM LEAD
              </h5>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card" style="text-align: center">
              <img src="../static/img/female2.jpeg" width="100" height="150"alt="" class="team-center">
              <h4>DR. D'EARRA TAYLOR</h4>
              <h5>HEAD PHARMACIST</h5>
          </div>


        </div>
          </div>
        <div class="row">
          <div class="col-md-4">
          <div class="card" style="text-align: center">
              <img src="../static/img/female1.png" width="100" height="130"alt="" class="team-center">
              <h4>DR. KAYLA BLACK</h4>
              <h5>HEAD PATHOLOGIST(DIAGNOSTICS)</h5>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card" style="text-align: center">
              <img src="../static/img/male2.jpeg" width="100" height="150"alt="" class="team-center">
              <h4>MR.LEO PHUNK</h4>
              <h5>CHIEF FINANCE OFFICER</h5>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card" style="text-align: center">
              <img src="../static/img/male3.png" width="100" height="150"alt="" class="team-center">
              <h4>MR SANYO GUZMAN</h4>
              <h5>IT MANAGER</h5>
          </div>
        </div>
            </div>
      </div>
    </div>
</div>


{% endblock %}